In [1]:
import os
import pandas as pd
import csv
import numpy as np
from stockstats import wrap

In [3]:
# get files
def files(dir):
    names = []
    for root, dirs, files in os.walk(dir):  
        for file in files:  
            if os.path.splitext(file)[1] == '.csv':  # csv files
                names.append(file)
    return names

In [4]:
names = files(os.getcwd() + "/data")

print(names)
print(len(names))

['Celsius.csv', 'IOTA.csv', 'Axie Infinity.csv', 'chainlink.csv', 'PAX Gold.csv', 'Hedera.csv', 'bitcoin cash.csv', 'Kava.csv', 'Elrond.csv', 'Helium.csv', 'Internet Computer.csv', 'STEPN.csv', 'xrp.csv', 'Theta Network.csv', 'Bitcoin Gold.csv', 'Gnosis.csv', 'near protocol.csv', 'Synthetix.csv', 'monero.csv', 'eCash.csv', 'Flow.csv', 'KuCoin Token.csv', 'Celo.csv', 'Zilliqa.csv', 'Convex Finance.csv', 'solana.csv', 'Holo.csv', 'BitTorrent (New).csv', 'Waves.csv', 'uniswap.csv', 'Neutrino USD.csv', 'Quant.csv', 'polkadot.csv', 'ethereum classic.csv', 'The Graph.csv', 'Loopring.csv', 'Aave.csv', 'Zcash.csv', 'The Sandbox.csv', 'Basic Attention Token.csv', 'dogecoin.csv', 'Klaytn.csv', 'Binance USD.csv', 'Kusama.csv', 'Shiba Inu.csv', 'Neo.csv', 'unus sed leo.csv', 'cosmos.csv', 'NEM.csv', 'Lido DAO.csv', 'Decentraland.csv', 'Cronos.csv', 'stellar.csv', 'Algorand.csv', 'Arweave.csv', 'EOS.csv', 'PancakeSwap.csv', 'Mina.csv', 'Curve DAO Token.csv', 'Bitcoin SV.csv', 'tether.csv', 'Decred.csv', 'Pax Dollar.csv', 'THORChain.csv', 'polygon.csv', 'ethereum.csv', 'Bitcoin BEP2.csv', 'VeChain.csv', '1inch.csv', 'Fei USD.csv', 'litecoin.csv', 'Qtum.csv', 'Trust Wallet Token.csv', 'bitcoin.csv', 'cardano.csv', 'Stacks.csv', 'Dash.csv', 'Enjin Coin.csv', 'usd coin.csv', 'Tezos.csv', 'Huobi Token.csv', 'Nexo.csv', 'ftx token.csv', 'dai.csv', 'TrueUSD.csv', 'tron.csv', 'Fantom.csv', 'BNB.csv', 'Chiliz.csv', 'Filecoin.csv', 'Gala.csv', 'Maker.csv', 'OKB.csv', 'avalanche.csv']
94

### ML

In [7]:
for file in names:
    data = pd.read_csv("data/"+ file)
    y = data['Close']
    data = data.drop(['Currency', 'Close'], axis=1)
    df = wrap(data)

    # 80 metrics
    X = df[['low_2_sma', 'low_5_sma', 'low_10_sma', 'low_20_sma', 'low_50_sma', 'low_100_sma', 'low_2_ema', 'low_5_ema', 'low_10_ema', 'low_20_ema','low_50_ema', 'low_100_ema', 'low_5_mvar', 'low_20_mvar', 'low_50_mvar', 'low_100_mvar', 'low_5_mstd', 'low_20_mstd', 'low_50_mstd', 'low_100_mstd',
'high_2_sma', 'high_5_sma', 'high_10_sma', 'high_20_sma', 'high_50_sma', 'high_100_sma', 'high_2_ema', 'high_5_ema', 'high_10_ema', 'high_20_ema','high_50_ema', 'high_100_ema', 'high_5_mvar', 'high_20_mvar', 'high_50_mvar', 'high_100_mvar', 'high_5_mstd', 'high_20_mstd', 'high_50_mstd', 'high_100_mstd',
'low_2_sma', 'low_5_sma', 'low_10_sma', 'low_20_sma', 'low_50_sma', 'low_100_sma', 'low_2_ema', 'low_5_ema', 'low_10_ema', 'low_20_ema','low_50_ema', 'low_100_ema', 'low_5_mvar', 'low_20_mvar', 'low_50_mvar', 'low_100_mvar', 'low_5_mstd', 'low_20_mstd', 'low_50_mstd', 'low_100_mstd',
'volume_2_sma', 'volume_5_sma', 'volume_10_sma', 'volume_20_sma', 'volume_50_sma', 'volume_100_sma', 'volume_2_ema', 'volume_5_ema', 'volume_10_ema', 'volume_20_ema','volume_50_ema', 'volume_100_ema', 'volume_5_mvar', 'volume_20_mvar', 'volume_50_mvar', 'volume_100_mvar', 'volume_5_mstd', 'volume_20_mstd', 'volume_50_mstd', 'volume_100_mstd'
]]
    y = pd.DataFrame(y)
    y_change = y.pct_change()
    X = X.reset_index()
    df = X.join(y_change)
    df = df.iloc[: , 1:]
    newest_date = df.iloc[-1:].copy()
    df.drop(df.tail(1).index,inplace=True)
    df.dropna()

    # to csv
    df.to_csv("ml/" + file,index = False)

In [5]:
df

,low_2_sma,low_5_sma,low_10_sma,low_20_sma,low_50_sma,low_100_sma,low_2_ema,low_5_ema,low_10_ema,low_20_ema,...,volume_100_ema,volume_5_mvar,volume_20_mvar,volume_50_mvar,volume_100_mvar,volume_5_mstd,volume_20_mstd,volume_50_mstd,volume_100_mstd,Close
0,0.135573,0.135573,0.135573,0.135573,0.135573,0.135573,0.135573,0.135573,0.135573,0.135573,...,4.921770e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.113455,0.113455,0.113455,0.113455,0.113455,0.113455,0.102396,0.109031,0.111243,0.112349,...,9.361897e+06,3.865253e+13,3.865253e+13,3.865253e+13,3.865253e+13,6.217116e+06,6.217116e+06,6.217116e+06,6.217116e+06,-0.122494
2,0.091476,0.106175,0.106175,0.106175,0.106175,0.106175,0.094932,0.100781,0.103352,0.104735,...,8.887724e+06,1.993428e+13,1.993428e+13,1.993428e+13,1.993428e+13,4.464783e+06,4.464783e+06,4.464783e+06,4.464783e+06,-0.154128
3,0.093791,0.103623,0.103623,0.103623,0.103623,0.103623,0.095631,0.098782,0.100920,0.102204,...,1.198424e+07,4.954772e+13,4.954772e+13,4.954772e+13,4.954772e+13,7.039014e+06,7.039014e+06,7.039014e+06,7.039014e+06,-0.036444
4,0.086963,0.098490,0.098490,0.098490,0.098490,0.098490,0.083800,0.090788,0.094328,0.096339,...,1.207940e+07,3.722421e+13,3.722421e+13,3.722421e+13,3.722421e+13,6.101165e+06,6.101165e+06,6.101165e+06,6.101165e+06,-0.082470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1665,0.043735,0.045095,0.044599,0.043425,0.040205,0.042240,0.043427,0.044326,0.044279,0.043302,...,1.815607e+09,1.480986e+15,3.743598e+15,4.594331e+15,2.225558e+16,3.848359e+07,6.118495e+07,6.778150e+07,1.491830e+08,-0.049242
1666,0.042078,0.043999,0.044238,0.043440,0.040261,0.042046,0.042168,0.043397,0.043781,0.043134,...,1.782232e+09,1.843378e+15,3.801537e+15,4.676049e+15,1.795711e+16,4.293458e+07,6.165661e+07,6.838164e+07,1.340042e+08,-0.032728
1667,0.039118,0.042168,0.043654,0.043182,0.040288,0.041917,0.038521,0.041164,0.042493,0.042521,...,1.751033e+09,2.069864e+15,3.422598e+15,4.650990e+15,1.209960e+16,4.549576e+07,5.850298e+07,6.819817e+07,1.099982e+08,-0.110651
1668,0.036516,0.040408,0.043089,0.042900,0.040268,0.041875,0.037063,0.039554,0.041373,0.041932,...,1.718574e+09,1.492511e+15,3.509679e+15,4.466227e+15,1.023384e+16,3.863303e+07,5.924254e+07,6.682984e+07,1.011624e+08,0.009335
1669,0.036670,0.038839,0.042253,0.042653,0.040241,0.041799,0.037024,0.038704,0.040579,0.041462,...,1.686496e+09,2.092308e+15,3.808420e+15,4.616112e+15,9.718416e+15,4.574175e+07,6.171240e+07,6.794197e+07,9.858203e+07,0.010831

### Optimization

In [17]:
# 1 day
date = "2021-08-27"

with open("op_data_1.csv",'a', newline = "") as f:
    csv_write = csv.writer(f)
    csv_write.writerow(["Name", "Open", "Close"])

    for file in names:
        content = pd.read_csv("data/"+ file)
        name = file.split(".")[0]
        open_price = content[content['Date'] == date].to_numpy()[0,1]
        close_price = content[content['Date'] == date].to_numpy()[0,4]
        csv_write.writerow([name, open_price, close_price])

In [18]:
df1 = pd.read_csv('op_data_1.csv')
df2 = pd.read_csv('output.csv')

In [19]:
df1

             Name         Open        Close
0         Celsius     5.588710     5.864846
1            IOTA     0.973299     1.040523
2   Axie Infinity    69.714119    73.356949
3       chainlink    24.390000    26.040000
4        PAX Gold  1798.789429  1821.845337
..            ...          ...          ...
89       Filecoin    72.373367    75.150642
90           Gala     0.032558     0.031270
91          Maker  3587.055176  3746.964355
92            OKB    20.242945    20.868271
93      avalanche    41.320000    50.040000

[94 rows x 3 columns]

In [20]:
df2

    Unnamed: 0         crypto  price change from previous day
0            0        Celsius                       -0.003054
1            1           IOTA                        0.003491
2            2  Axie Infinity                        0.021081
3            3      chainlink                        0.003002
4            4       PAX Gold                        0.000590
..         ...            ...                             ...
89          89       Filecoin                        0.005727
90          90           Gala                       -0.019520
91          91          Maker                        0.002563
92          92            OKB                       -0.000694
93          93      avalanche                       -0.001245

[94 rows x 3 columns]

In [27]:
result = pd.concat([df1, df2], axis=1)
result = result.drop(['Name', 'Open'],axis=1)
result = result.set_index('crypto')
result = result.drop(result.columns[1], axis=1)
result = result.rename({'Close': 'Actual 2021.8.27 Close', 'price change from previous day':'% change'}, axis=1)
result['Predicted 8.28 Close'] = result['Actual 2021.8.27 Close']*(1+result['% change'])
result.to_csv('20210828prediction.csv')

In [49]:
# 1 day
date = "2021-08-28"

with open("op_data_1.csv",'a', newline = "") as f:
    csv_write = csv.writer(f)
    csv_write.writerow(["Name", "Open", "Close"])

    for file in names:
        content = pd.read_csv("data/"+ file)
        name = file.split(".")[0]
        open_price = content[content['Date'] == date].to_numpy()[0,1]
        close_price = content[content['Date'] == date].to_numpy()[0,4]
        csv_write.writerow([name, open_price, close_price])

In [48]:
# 1 month
start_date = "2021-07-28"
end_date = "2021-08-28"

with open("op_data_2.csv",'a', newline = "") as f:
    csv_write = csv.writer(f)
    csv_write.writerow(["Name", "Open", "Close", "Risk"])

    for file in names:
        content = pd.read_csv("data/"+ file)
        name = file.split(".")[0]
        open_price = content[content['Date'] == start_date].to_numpy()[0,1]
        close_price = content[content['Date'] == end_date].to_numpy()[0,4]
        
        # variance
        close = content[(content['Date'] >= start_date) & (content['Date'] <= end_date)].to_numpy()[:,4]
        risk = np.var(close, ddof = 1)
        
        csv_write.writerow([name, open_price, close_price, risk])

In [54]:
# 1 month time series
start_date = "2021-07-28"
end_date = "2021-08-28"

# initialize
content = pd.read_csv("data/"+ names[0])
name = names[0].split(".")[0]

close = content[(content['Date'] >= start_date) & (content['Date'] <= end_date)][["Date", "Close"]]
total = close
total.rename(columns = {'Close': name}, inplace = True)

for file in names[1:]:
    content = pd.read_csv("data/"+ file)
    name = file.split(".")[0]

    close = content[(content['Date'] >= start_date) & (content['Date'] <= end_date)].to_numpy()[:,4]
    total[name] = close

    total.to_csv("op_data_3.csv",index = False)

In [6]:
    residual = {'rf':1,
                'gbr':2,
                'xgb':3}
    
    min(residual, key=residual.get)

'rf'